# DataFrame

DataFrame é um conjunto de series e objeto principal do Pandas. 
Um DataFrame é semelhante a uma matriz, mas as suas colunas têm nomes e podem conter dados de tipo diferente. Um DataFrame pode ser visto como uma tabela de uma base de dados, em que cada linha corresponde a um registo (linha) da tabela.

Definir o comando seed e todos os números aleatórios serão iguais em todos os computadores.

In [1]:
import pandas as pd
import numpy as np

In [2]:
np.random.seed(101)

Criar um DF com os numero aleatorios do random.seed(101).

In [3]:
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns = "W X Y Z".split())

In [4]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Acessar uma coluna.

In [5]:
df["W"]

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

Obs: Coluna nada mais é que um series.

In [6]:
print("Tipo da coluna:",type(df["W"]))
print("Tipo do DF:",type(df))

Tipo da coluna: <class 'pandas.core.series.Series'>
Tipo do DF: <class 'pandas.core.frame.DataFrame'>

Para trazer mais de uma coluna, basta colocar em uma lista.

In [7]:
df[["W","X"]]

          W         X
A  2.706850  0.628133
B  0.651118 -0.319318
C -2.018168  0.740122
D  0.188695 -0.758872
E  0.190794  1.978757

Criar uma nova coluna: Passamos a nova coluna como parametro e já passamos um valor que se ela já existisse.

In [8]:
df["new"] = df ["W"] + df ["X"]

In [9]:
df

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

E para apagar, utilizamos o drop(indice, eixo).                                                     
inplace=True : para salvar a alteração.

In [10]:
df.drop("new",axis=1, inplace=True)

In [11]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

Localizar elementos por indice.

In [12]:
df.loc[["A","D"],["W","Y"]]

          W         Y
A  2.706850  0.907969
D  0.188695 -0.933237

localizar pela posição.                                                                           
nomeDF.loc[parametro da linha, parametro da coluna]

In [13]:
df.iloc[3:, 2:]

          Y         Z
D -0.933237  0.955057
E  2.605967  0.683509

In [14]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509