In [1]:
import pandas as pd
import numpy as np

Vamos criar um DF usando metodos do Pandas que permiti importa dados.

Vamos importar um arquivo csv e criar um DF como ele.

In [2]:
df = pd.read_csv("exemplo.csv",sep=",")

In [3]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [4]:
df = df+1

In [5]:
df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

O proprio DF tem um metodo do qual podemos criar um novo arquivo apartir do df que estamos trabalhando.
Nesse caso, vamos ter esse df em um novo arquivo salvo com o nome de "teste.csv".

In [6]:
df.to_csv("teste.csv", sep=",",decimal=",")

Outro metodo que temos de importar dados é :
Esse metodo da para escolher qual aba do excel queremos abrir e mexer.
OBS:Nesse caso deu erro, pois não suporta a extensão .xlxs (Pesquisar sobre).

In [ ]:
df = pd.read_excel('exemplo_excel.xlxs', sheet_name='aba2')

In [7]:
df

    a   b   c   d
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16

Ler arquivos de HTML.
Vamos inserir um link de uma pagina em HTML que contem uma lista de bancos falidos.

In [9]:
df = pd.read_html('https://www.fdic.gov/bank/individual/failed/banklist.html')

Vamos ler o arquivo e pedir para exibir apenas os nome

In [14]:
df[0]['Bank Name']

0                   The First State Bank
1                     Ericson State Bank
2       City National Bank of New Jersey
3                          Resolute Bank
4                  Louisa Community Bank
                     ...
556                   Superior Bank, FSB
557                  Malta National Bank
558      First Alliance Bank & Trust Co.
559    National State Bank of Metropolis
560                     Bank of Honolulu
Name: Bank Name, Length: 561, dtype: object