### Seleção condicional

In [1]:
import pandas as pd
import numpy as np

In [10]:
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns = "W X Y Z".split())

In [11]:
bol = df > 0
df[bol]

          W         X         Y         Z
A       NaN       NaN  0.006552       NaN
B  1.647106       NaN       NaN  0.698121
C       NaN  0.546268       NaN  0.530706
D  1.140412  1.064892  0.661557  0.136906
E  0.451669       NaN  1.491469  0.188990

ex: esse exemplo nos traz as linhas em que W são maiores que 0.

In [12]:
df[df["W"]>0]

          W         X         Y         Z
B  1.647106 -0.025197 -0.222840  0.698121
D  1.140412  1.064892  0.661557  0.136906
E  0.451669 -0.985621  1.491469  0.188990

Operações logicas: nesse caso como o resultados são series, ao inves de usar o "and" usamos o "&" (and = & e or = |)

In [13]:
df[(df["W"]>0) & (df["Y"]>1)]

          W         X         Y        Z
E  0.451669 -0.985621  1.491469  0.18899

### set_index()

Resetar o index.
Nesse caso o nosso indice existente se tranformou numa coluna.

In [15]:
df.reset_index()

  index         W         X         Y         Z
0     A -0.417619 -0.494249  0.006552 -1.002248
1     B  1.647106 -0.025197 -0.222840  0.698121
2     C -0.072358  0.546268 -0.029512  0.530706
3     D  1.140412  1.064892  0.661557  0.136906
4     E  0.451669 -0.985621  1.491469  0.188990

Podemos atribuir uma outra coluna como indice.

In [16]:
col = "SP RJ RS AM SC".split()

In [17]:
df["Estado"] = col

In [18]:
df

          W         X         Y         Z Estado
A -0.417619 -0.494249  0.006552 -1.002248     SP
B  1.647106 -0.025197 -0.222840  0.698121     RJ
C -0.072358  0.546268 -0.029512  0.530706     RS
D  1.140412  1.064892  0.661557  0.136906     AM
E  0.451669 -0.985621  1.491469  0.188990     SC

Atribui ela como indice

In [20]:
df.set_index("Estado", inplace=True)

In [21]:
df

               W         X         Y         Z
Estado
SP     -0.417619 -0.494249  0.006552 -1.002248
RJ      1.647106 -0.025197 -0.222840  0.698121
RS     -0.072358  0.546268 -0.029512  0.530706
AM      1.140412  1.064892  0.661557  0.136906
SC      0.451669 -0.985621  1.491469  0.188990