# Pandas
### Conhecendo a biblioteca Pandas.
O Pandas é uma biblioteca Python que fornece estruturas e ferramentas de análise de dados que permite rápida visualização e limpeza de dados e é muito semelhante ao Excel. Além de possuir métodos próprios de visualização de dados. O Pandas é uma biblioteca de código fonte aberto escrita sobre o Numpy e pode trabalhar com dados de diversos tipos diferentes.

INSTALAÇÃO:
Para instalar a biblioteca do Pandas, vá ao seu terminal e digite:
		“conda install pandas” ou “pip install pandas”

# Series

Series é um objeto básico do Pandas, temos a series e o DataFrame.
Uma Series é como um array unidimensional, uma lista de valores. Todas series possui um índice(index) que da rótulo a cada elemento da lista.
Uma series não se prende ao tipo de dados, podemos ter uma series de dados do tipo string, float, inteiro e até mesmo booleano, dentro outros.

In [3]:
import pandas as pd
import numpy as np

In [4]:
labels = ["a","b","c"]

In [5]:
my_list = [10,20,30]
array = np.array([10,20,30])
dictionary = {'a':10, 'b':20, 'c':30}

Transformar um dos elementos em uma Series.

In [134]:
pd.Series(data = dictionary, index= labels)

a    10
b    20
c    30
dtype: int64

In [7]:
series = pd.Series(array, labels)

Acessar um elemento pelo indice igual acessamos no dicionario.

In [135]:
series['b']

20

In [136]:
serie1 = pd.Series([1,2,3,4], ["EUA","Brasil","Alemanha","Italia"])
serie2 = pd.Series([1,2,3,4], ["Brasil","EUA","Belgica","Italia"])

Vamos somar as duas series(lembrando que nesse exemplo o indice são os países)                       
Os países serão somados com base no índice, os países que não tiver referencia nas duas series nos torna um valor NaN.

In [137]:
serie1 + serie2

Alemanha    NaN
Belgica     NaN
Brasil      3.0
EUA         3.0
Italia      8.0
dtype: float64

# DataFrame

DataFrame é um conjunto de series e objeto principal do Pandas. 
Um DataFrame é semelhante a uma matriz, mas as suas colunas têm nomes e podem conter dados de tipo diferente. Um DataFrame pode ser visto como uma tabela de uma base de dados, em que cada linha corresponde a um registo (linha) da tabela.

Definir o comando seed e todos os números aleatórios serão iguais em todos os computadores.

In [11]:
np.random.seed(101)

Criar um DF com os numero aleatorios do random.seed(101).

In [128]:
df = pd.DataFrame(np.random.randn(5,4), index="A B C D E".split(), columns = "W X Y Z".split())

In [88]:
df

          W         X         Y         Z
A  0.681209  1.035125 -0.031160  1.939932
B -1.005187 -0.741790  0.187125 -0.732845
C -1.382920  1.482495  0.961458 -2.141212
D  0.992573  1.192241 -1.046780  1.292765
E -1.467514 -0.494095 -0.162535  0.485809

Acessar uma coluna.

In [138]:
df["W"]

A   -1.972605
B    1.606780
C    0.041460
D   -0.804652
E   -1.080471
Name: W, dtype: float64

Coluna nada mais é que um series.

In [90]:
print("Tipo da coluna:",type(df["W"]))
print("Tipo do DF:",type(df))

Tipo da coluna: <class 'pandas.core.series.Series'>
Tipo do DF: <class 'pandas.core.frame.DataFrame'>

Para trazer mais de uma coluna, basta colocar em uma lista.

In [91]:
df[["W","X"]]

          W         X
A  0.681209  1.035125
B -1.005187 -0.741790
C -1.382920  1.482495
D  0.992573  1.192241
E -1.467514 -0.494095

Criar uma nova coluna: Passamos a nova coluna como parametro e já passamos um valor que se ela já existisse.

In [92]:
df["new"] = df ["W"] + df ["X"]

In [93]:
df

          W         X         Y         Z       new
A  0.681209  1.035125 -0.031160  1.939932  1.716334
B -1.005187 -0.741790  0.187125 -0.732845 -1.746977
C -1.382920  1.482495  0.961458 -2.141212  0.099575
D  0.992573  1.192241 -1.046780  1.292765  2.184814
E -1.467514 -0.494095 -0.162535  0.485809 -1.961609

E para apagar, utilizamos o drop(indice, eixo).                                                     
inplace=True : para salvar a alteração.

In [94]:
df.drop("new",axis=1, inplace=True)

In [95]:
df

          W         X         Y         Z
A  0.681209  1.035125 -0.031160  1.939932
B -1.005187 -0.741790  0.187125 -0.732845
C -1.382920  1.482495  0.961458 -2.141212
D  0.992573  1.192241 -1.046780  1.292765
E -1.467514 -0.494095 -0.162535  0.485809

Localizar elementos por indice.

In [96]:
df.loc[["A","D"],["W","Y"]]

          W        Y
A  0.681209 -0.03116
D  0.992573 -1.04678

localizar pela posição.                                                                           
nomeDF.loc[parametro da linha, parametro da coluna]

In [22]:
df.iloc[3:, 2:]

          Y         Z
D -0.933237  0.955057
E  2.605967  0.683509

In [23]:
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

### Seleção condicional

Seleção condicional

In [132]:
bol = df > 0
df[bol]

         W         X         Y         Z
A      NaN       NaN  0.720788       NaN
B  1.60678       NaN       NaN       NaN
C  0.04146       NaN       NaN  0.110477
D      NaN  0.253548  0.649148  0.358941
E      NaN  0.902398  0.161781  0.833029

ex: esse exemplo nos traz as linhas em que W são maiores que 0.

In [133]:
df[df["W"]>0]

         W         X         Y         Z
B  1.60678 -1.115710 -1.385379 -1.329660
C  0.04146 -0.411055 -0.771329  0.110477

Operações logicas: nesse caso como o resultados são series, ao inves de usar o "and" usamos o "&" (and = & r or = |)

In [131]:
df[(df["W"]>0) & (df["Y"]>1)]

Empty DataFrame
Columns: [W, X, Y, Z]
Index: []

### set_index()

Resetar o index
Nesse caso o nosso indice existente se tranformou numa coluna.

In [129]:
df.reset_index()

  index         W         X         Y         Z
0     A -1.972605 -0.866885  0.720788 -1.223082
1     B  1.606780 -1.115710 -1.385379 -1.329660
2     C  0.041460 -0.411055 -0.771329  0.110477
3     D -0.804652  0.253548  0.649148  0.358941
4     E -1.080471  0.902398  0.161781  0.833029

Podemos atribuir uma outra coluna como indice.

In [123]:
col = "SP RJ RS AM SC".split()

In [120]:
df["Estado"] = col

In [121]:
df

          W         X         Y         Z Estado
A  0.681209  1.035125 -0.031160  1.939932     SP
B -1.005187 -0.741790  0.187125 -0.732845     RJ
C -1.382920  1.482495  0.961458 -2.141212     RS
D  0.992573  1.192241 -1.046780  1.292765     AM
E -1.467514 -0.494095 -0.162535  0.485809     SC

Atribui ela como indice

In [122]:
df.set_index("Estado", inplace=True)

In [57]:
df

               W         X         Y         Z
Estado
SP      0.302665  1.693723 -1.706086 -1.159119
RJ     -0.134841  0.390528  0.166905  0.184502
RS      0.807706  0.072960  0.638787  0.329646
AM     -0.497104 -0.754070 -0.943406  0.484752
SC     -0.116773  1.901755  0.238127  1.996652

### Índices multiníveis

Níveis de índices

In [117]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

zip: pegar as listas outside and inside                                                     
zip: pega duas listas como input e transforma em uma tupla rodando elemento por elemento.          
hier_index: criar uma lista de tuplas associando cada valor de de uma lista ao valor da outra lista   
MultiIndex.from_tuples(): cria um indice multinivel

Vamos criar um DF usando esses indices de multiniveis

In [116]:
dfs = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=["A","B"])

In [73]:
dfs

             A         B
G1 1  0.147027 -0.479448
   2  0.558769  1.024810
   3 -0.925874  1.862864
G2 1 -1.133817  0.610478
   2  0.386030  2.084019
   3 -0.376519  0.230336

Acesar os elementos de G1.

In [115]:
dfs.loc["G1"]

                A         B
Numeros
1        0.147027 -0.479448
2        0.558769  1.024810
3       -0.925874  1.862864

E aqui acessar os elemento da linha 2 do G1

In [114]:
dfs.loc["G1"].loc[2]

A    0.558769
B    1.024810
Name: 2, dtype: float64

Vamos atribuir nomes para os indices:

In [112]:
dfs.index.names = ["Grupo", "Numeros"]

In [113]:
dfs

                      A         B
Grupo Numeros
G1    1        0.147027 -0.479448
      2        0.558769  1.024810
      3       -0.925874  1.862864
G2    1       -1.133817  0.610478
      2        0.386030  2.084019
      3       -0.376519  0.230336

Uma outra forma de selecionar elementos que possuem indices de multiníveis e usar o xs.