### Índices multiníveis

In [2]:
import pandas as pd
import numpy as np

Níveis de índices

In [3]:
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

zip: pegar as listas outside and inside                                                 
zip: pega duas listas como input e transforma em uma tupla rodando elemento por elemento.          
hier_index: criar uma lista de tuplas associando cada valor de de uma lista ao valor da outra lista   
MultiIndex.from_tuples(): cria um indice multinivel

Vamos criar um DF usando esses indices de multiniveis

In [11]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=["A","B"])

In [12]:
df

                     A         B
Grupo Numero
G1    1       0.927999  0.419473
      2       0.762161 -0.839825
      3      -0.383117  1.592828
G2    1       2.213602 -0.092666
      2      -0.654470 -1.453821
      3      -2.501060  0.764297

Acesar os elementos de G1.

In [14]:
df.loc["G1"]

               A         B
Numero
1       0.927999  0.419473
2       0.762161 -0.839825
3      -0.383117  1.592828

E aqui acessar os elemento da linha 2 do G1

In [15]:
df.loc["G1"].loc[2]

A    0.762161
B   -0.839825
Name: 2, dtype: float64

Vamos atribuir nomes para os indices:

In [16]:
df.index.names = ["Grupo", "Numero"]

In [17]:
df

                     A         B
Grupo Numero
G1    1       0.927999  0.419473
      2       0.762161 -0.839825
      3      -0.383117  1.592828
G2    1       2.213602 -0.092666
      2      -0.654470 -1.453821
      3      -2.501060  0.764297

Uma outra forma de selecionar elementos em uma DF que possuem indices de multiníveis e usar o xs.
Vantagem: Podemos selecionar elementos do indice interno sem tem que passar pelo indice externo.

In [22]:
df.xs(1,level="Numero")

              A         B
Grupo
G1     0.927999  0.419473
G2     2.213602 -0.092666