### Dados Ausentes

Vamos criar um DF com alguns dados ausentes.

In [1]:
import pandas as pd
import numpy as np

In [2]:
dic = {"A":[1,2,np.nan],"B":[5,np.nan,np.nan],"C":[np.nan,np.nan,np.nan],"D": [7,8,9]}
df = pd.DataFrame(dic)
df

     A    B   C  D
0  1.0  5.0 NaN  7
1  2.0  NaN NaN  8
2  NaN  NaN NaN  9

o dropna() ele nos traz apenas as linhas sem valores ausentes. (podemos usar o axis=1 para trazer as colunas)

In [4]:
df.dropna(axis=1)

   D
0  7
1  8
2  9

o metodo fillna() substitui os valos ausentes por algum outro valor.

In [8]:
df.fillna("Fill na")

         A        B        C  D
0        1        5  Fill na  7
1        2  Fill na  Fill na  8
2  Fill na  Fill na  Fill na  9

Vamos substituir um valor ausente pela media dos outros valores da coluna.

In [9]:
df["A"].fillna(df["A"].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

Ou podemos substituir com o valor anterior passando como paramentro o (method="ffill")

In [10]:
df.fillna(method="ffill")

     A    B   C  D
0  1.0  5.0 NaN  7
1  2.0  5.0 NaN  8
2  2.0  5.0 NaN  9